[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.24.2"
matplotlib = "==3.7.1"
jupyter = "==1.0.0"
pillow = "==9.5.0"
opencv-contrib-python-headless = "==4.7.0.72"
streamlit = "==1.19.0"
python-multipart = "*"
watchdog = "*"

[dev-packages]
pytest = "==7.3.1"
flake8 = "==6.0.0"
black = "==23.3.0"
pre-commit = "==3.0.4"

[requires]
python_version = "3.9"

[scripts]
format = "pre-commit run --all-files"
