[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.32.3"
streamlit = "==1.42.2"

[dev-packages]
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
flake8 = "==7.1.2"
black = "==25.1.0"
pre-commit = "==4.1.0"
ipykernel = "*"

[requires]
python_version = "3.12.9"
